<div class="form-group">
    <label for="username">帳號</label>
    <input class="form-control" name=username required type='text'>
</div>
<div class="form-group">
    <label for="password">密碼</label>
    <input class="form-control" name=password required type='password'>
</div>