<p class="mt-2" class="mx-auto">文章標題</p>
<input name=title required value=<%= article.title %> type='text'>
<p class="mt-2" >文章內容</p>
<textarea rows=15 cols=50 name=content maxlength=30000><%= article.content %></textarea>
<input type="submit" value="送出">