<input name="_csrf" value="<%= csrfToken %>" type='hidden'>
<div class="form-group">
    <label for="content">留言內容</label>
    <input class="form-control" name=content required value="<%= message.content %>" type='text'>
</div>
<input class="btn btn-primary" type="submit" value="送出">